
/* ------------------------------- */
/* BODY */
/*
body {
    background-color:  white;
	font-family: verdana,arial;
	font-size: 100%;
	margin: 0;
	margin-top: 0;
}


/* ------------------------------- */
/* HEADER */
header, footer {
	background-color: #3F51B5;
	padding: 20px;
	position: relative;
	text-align: center;
	box-shadow: 0px 5px 5px grey;
}

h1 {
	color: #FFF;
}

h3 {
	color: #C5CAE9;
}

header img {
	width: 10em;
}
*/
/* ------------------------------- */
/* SECTION */
section {
	width: 80%;
	margin: auto;
	padding: 1em;
	text-align: justify;
}

section a {
	color: #3F51B5;
	text-decoration: none;
}

section a:hover {
	color: white;
	background-color: #3F51B5;
	border-radius: 0.5em;
	padding: 2px;
	box-shadow: 5px 5px 5px grey;
}

/* ------------------------------- */
/* COULEURS VILLES */
.grenoble {
    color: yellow;
    text-shadow: 1px 1px  grey;
}

.toulouse {
    color: red;
}

.bordeaux {
    color: #7B1FA2;
}

.nancy {
    color: #0288D1;
}

.valence {
    color: green;
}

/* ------------------------------- */
/* VILLES */
#Villes ul {
	list-style-type: none;
	text-align: center;
}

#Villes li {
	display: inline-block;
	box-shadow: 5px 5px 5px lightgrey;
	border: 1px solid darkgrey;
	border-radius: 5px;
	padding: 20px 0;
	width: 15%;
	margin: 10px;
	font-size: 1.6em;
}

#Villes li:hover {
	background-color: #3F51B5;
	color: white;
}


/* ------------------------------- */
/* FOOTER */
footer {
	color: #C5CAE9;
	box-shadow: 0 -5px 5px grey;
}

footer a {
	padding: 10px;
	color: #C5CAE9;
	text-decoration: none;
}

footer a:hover {
	color: #3F51B5;
	background-color: #C5CAE9;
	border-radius: 1em;
}


/* ------------------------------- */
/* VIDEO */
iframe {
	background-color: #3F51B5;
	border-radius: 5px;
	border: 5px solid #3F51B5;
	padding: 5px;
	box-shadow: 2px 2px 10px grey;
}


/* ------------------------------- */
/* LOGOS PARTENAIRES */

.logo {
	text-align: center;
	border: 1px solid grey;
	background-color: white;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 10px;
}

.logo img {
	margin: 5px;
	border-radius: 5px;
}

.logo gauche {
	float:left;
    width:40%
}

.logo droite {
	margin-left:60%  
}



